@using System.Security.Claims

<html lang="pt-br" ng-app="timeControl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Timer → TimeControl</title>
        <link href="~/animate/animate.css" rel="stylesheet">
		<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="~/assets/css/style.css" rel="stylesheet">
		<link href="~/assets/css/owl.carousel.css" rel="stylesheet">
		<link href="~/assets/css/owl.theme.css" rel="stylesheet">
        <link href="~/favicon/favicon.ico" rel="shortcut icon" id="favicon">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-messages.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/controllers/timeControlCtrl.js"></script>
        <script src="~/js/services/activityAPIService.js"></script>
        <script src="~/js/services/serialGeneratorService.js"></script>
        <script src="~/js/config/serialGeneratorConfig.js"></script>
        <script src="~/js/services/addhourService.js"></script>
        <script src="~/js/value/configValue.js"></script>
        <script src="~/moment/moment.js"></script>
        <script src="~/moment/locale/pt-br.js"></script>
        <script src="~/js/services/timeFilter.js"></script>
        
		<!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script>
		    paceOptions = {
		      elements: true
		    };
		</script>
		<script src="~/assets/js/pace.min.js"></script>
		
	</head>
	<body ng-controller="timeControlCtrl">
		<div id="wrapper">
			<div class="header">
				<nav class="navbar   navbar-site navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav navbar-right">
                              <li><a asp-controller="Initial" asp-action="timer">Timer</a></li>
							  <li><a asp-controller="Initial" asp-action="projects">Projects</a></li>
                              <li id="usuario"><a asp-controller="Initial" asp-action="timer">@ViewBag.Nome</a></li>
                              <li>
                                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" >
                                    <button type="submit" class="btn btn-link ">Log off</button>
                                </form>
                              </li>
						</ul>
					</div>
				 </div>
				</nav>
			</div>
			<div class="intro">
				<div class="dtable hw100">
					<div class="dtable-cell hw100">
						<div class="container text-center">
							<h1 class="intro-title animated fadeInDown"> TIME CONTROL </h1>
							<p class="sub animateme fittext3 animated fadeIn"> Controle o tempo que você dedica ao seu projeto</p>
							<div ng-show="!divStart" class="row search-row animated animated lightSpeedIn">
                                <form name="userForm">
                                    <div class="col-lg-8 col-sm-8 search-col relative locationicon">
                                        <i class="icon-location-2 icon-append"></i>
                                        <input type="text" name="country" id="autocomplete-ajax" class="form-control locinput input-rel searchtag-input has-icon" placeholder="Em que você está trabalhando?" ng-model="activity.Link" required>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 search-col">
                                        <button ng-click="takeAction();HideStart();valueStartDate()" type="submit" class="btn btn-primary btn-search btn-block" ng-disabled="userForm.$invalid"><strong>Start</strong></button>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-container">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 page-content col-thin-right">
							<div class="inner-box category-content">
								<h2  class="title-2"><a ng-bind="activity.Link" href="{{activity.Link}}" target="_blank" > </a></h2>
								<div class="row">
									<div class="col-md-6 col-sm-6 ">
										<textarea class="form-control" rows="5" id="comment" placeholder="Description project..." ng-model="activity.Observation" required></textarea>
                                        <input  type="text" id="startDate" value="" ng-show="false">
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="cat-list" style="text-align:center;">
											<a ng-show="tagAstart" ng-click="takeAction()">Start / Pause</a> 
											<h3 id="tempo" style="font-size: 50px;line-height: 70px; " class="cat-title">{{counter|formatTimer}}</h3>
                                            <a ng-show="tagAfinish" ng-click="adicionarActivity(activity);HideStart()">Finish</a>
										</div>
										<br />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"> </script>
		<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/assets/js/owl.carousel.min.js"></script>
		<script src="~/assets/js/jquery.matchHeight-min.js"></script>
		<script src="~/assets/js/hideMaxListItem.js"></script>
		<script src="~/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
		<script src="~/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
		<script src="~/assets/js/script.js"></script>
		<script type="text/javascript" src="~/assets/plugins/autocomplete/jquery.mockjax.js"></script>
		<script type="text/javascript" src="~/assets/plugins/autocomplete/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="~/assets/plugins/autocomplete/autocomplete-demo.js"></script>
        
        
	</body>
</html>
