<div class="intro">
    <div class="dtable hw100">
	   <div class="dtable-cell hw100">
	       <div class="container text-center">
		      <h1 class="intro-title animated fadeInDown"> TIME CONTROL </h1>
			  <p class="sub animateme fittext3 animated fadeIn"> Control the time you devote to your project </p>
		   </div>
        </div>
    </div>
</div>
<div class="main-container" ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 page-content col-thin-right">
				<div class="inner-box category-content">
					<h2 class="title-2"> Activities for projects </h2>
					<div class="table-responsive">
						<div class="table-action">
                            <div class="row">
                                <div class="form-inline">
                                    <div class="table-search pull-right col-xs-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="col-xs-12 control-label text-right">Search <a ng-click="searchName();getNameProjects()" class="colorlink fa fa-search"></a> <br></label>
                                            </div>
                                            <div ng-show="search">
                                                <div class="form-group col-xs-5">
                                                    <label class="item item-input">Project: </label>
                                                    <select class="form-control" ng-model="project.ProjectId" ng-options="item.ProjectId as item.ProjectName for item in project" data-ng-change="getBelongProject(project.ProjectId)">
                                                        <option value="">Select to project</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-xs-5">
                                                    <label class="item item-input">Member: </label>
                                                    <select class="form-control" ng-model="users.UserId" ng-options="item.UserId as item.UserName for item in users" >
                                                        <option value="">Select to member</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <div class="table-search pull-right col-xs-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="navbar-collapse collapse">
                                                    <ul class="nav navbar-nav navbar-right">
                                                        <li ng-repeat="todo in todos">
                                                            <i class="icon-ok" ng-show="todo.done" /><span ng-click="toggleState($index)" ng-class="isDone($index)">{{todo.desc}}</span> 
                                                            <i class="fa-times fa" ng-click="removeTodo($index)" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
						<table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true" ng-show="activities.length > 0">
							<thead>
							     <tr>
								   <th> Task </th>
								   <th> Details </th>
								   <th> Duration </th>
								 </tr>
							</thead>
							<tbody ng-repeat="activity in act = (activities | filter:{Link:criterioDeBusca}  | filter:{ResponsibleId:users.UserId} )   ">
							    <tr ng-repeat="time in times = (activity.Times | filter:{Status:true} )" >
								    <td id="colActivityLink" class="add-img-td">
                                        <div ng-bind-html="SkipValidation((activity.Link | formatLink))">  </div> 
									</td>
									<td id="colActivityObservation" class="ads-details-td">
								        <div>
										  <p> {{activity.Observation}} </p>
										</div>
									</td>
									<td id="colActivityTime" class="price-td">
									   <div>
									       <strong> {{time.ActivityTime}}</strong>
									   </div>
									</td>
							    </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>