<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="~/css/app.css">
	<script src="~/lib/angular/angular.js"></script>
	<script src="~/lib/angular/angular-messages.js"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/controllers/listaTelefonicaCtrl.js"></script>
	<script src="~/js/services/contatosAPIService.js"></script>
	<script src="~/js/services/operadorasAPIService.js"></script>
	<script src="~/js/services/serialGeneratorService.js"></script>
	<script src="~/js/config/serialGeneratorConfig.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="~/js/value/configValue.js"></script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{app}}</a>
            </div>
        </div>
    </nav>
	<div class="jumbotron">
		<h3></h3>
		{{message}}
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
        <form class="form-inline" name="contatoForm">
            <div class="form-group">
                <input type="text" class="form-control col-xs-12" ng-model="contato.Observation" placeholder="Em que você está trabalhando?">
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="contato.Name" ng-options="operadora.Nome for operadora in operadoras | orderBy:'Nome'">
				    <option value="">Executor</option>
			    </select>
                <input id="tempo" class="form-control" value="{{counter|formatTimer}}">
            </div>
            <button ng-click="takeAction()" type="submit" class="btn btn-default">{{buttonText}}</button>
            <button class="btn btn-primary" ng-click="adicionarContato(contato)" >Finish</button>
            <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal">cadastrar</button>
        </form>
		<table ng-show="contatos.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th>Atividade</th>
				<th><a href="" ng-click="ordenarPor('Name')">Responsavel</a></th>
                <th>Tempo</th>
				<!-- <th><a href="" ng-click="ordenarPor('telefone')">Telefone<a/></th>
				<th>Operadora</th>-->
				<th>Ação</th> 
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.Observation}}</td>
				<td>{{contato.Name}}</td>
                <td>{{contato.Time}}</td>
                <td class="actions">
                    <button class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</button>
                </td>
				<!-- <td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td> -->
			</tr>
		</table>
		<hr/>
		<form >
			<!--<input class="form-control" type="text" ng-model="contato.Name" name="nome" placeholder="Nome" ng-required="true" />-->
            <!--<input class="form-control" type="text" ng-model="contato.activityId" name="id" placeholder="id"  />-->
			<!-- <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select> -->
		</form>

		<!-- <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-danger">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato DDDDD-DDDD.
		</div> -->
		<!--<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" >Adicionar Contato</button>-->
		<button class="btn btn-danger btn-block" ng-click="deletarContato(contato)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
	<!-- <div ng-include="'view/footer.html'"></div> -->
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cadastro Executor</h4>
        </div>
        <div class="modal-body">
          <input class="form-control" type="text" ng-model="exe.Nome" name="nome" placeholder="Nome" ng-required="true" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary " data-dismiss="modal" ng-click="AddExecutor(exe)">Adicionar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</body>
</html>

